@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0f141a;
  --varsity-cream: #eae2cf;
}

body {
  background-color: var(--background-color) !important;
  color: var(--varsity-cream);
  margin: 0;
  padding: 0;
}